In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "HeroesofPymoli/purchase_data.csv"

In [17]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

Player Count

In [4]:
# display the total number of players
Total_players = len(purchase_data["SN"].unique())
Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

Purchasing Analysis (Total)

In [5]:
# Calculate the number of unique items, ave price, number of purchase and total revenue
unique_items = len(purchase_data["Item Name"].unique())
ave_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
tot_revenue = purchase_data["Price"].sum()

purchasing_analyis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [ave_price], "Number of Purchases": [num_purchases], "Total Revenue": [tot_revenue]})
purchasing_analyis_df["Average Price"] = purchasing_analyis_df["Average Price"].map("${:,.2f}".format)
purchasing_analyis_df["Total Revenue"] = purchasing_analyis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analyis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

Gender Demographics

In [6]:
# drop duplicates SN
no_duplicates = purchase_data.drop_duplicates(subset=["SN"])

# define a funciton for the percentage
def percentage(numbers):
     return numbers/Total_players*100

# % and count of males, females and other/non-diclosed
gender_unique_count = no_duplicates["Gender"].value_counts()

male_percent = percentage(484)
female_percent = percentage(81)
other_percent = percentage(11)

# new df
gender_df = pd.DataFrame({"": ["Male", "Female", "Other/Non-Disclosed"],
"Total Count": [484, 81, 11],
"Percentage of Players": [male_percent, female_percent, other_percent]})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)
gender_df.set_index("")

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

In [7]:
# find purchase count, ave purchase price, total purchase price, ave total purchase price per person
purchase_count = purchase_data.groupby("Gender")["Purchase ID"].count()
ave_price = purchase_data.groupby("Gender")["Price"].mean()
total_price = purchase_data.groupby("Gender")["Price"].sum()
ave_per_person = purchase_data.groupby("Gender")["Price"].sum()/no_duplicates.groupby("Gender")["SN"].count()

purchase_df = pd.DataFrame({"Gender": ["Female", "Male", "Other/Non-Disclosed"]})

In [8]:
# add columns of purchase price etc to new dataframe create
purchase_df["Purchase Count"] = purchase_count.reset_index()["Purchase ID"]
purchase_df["Average Price"] = ave_price.reset_index()["Price"]
purchase_df["Total Purchase Value"] = total_price.reset_index()["Price"]
purchase_df["Average Total Per Person"] = ave_per_person.to_frame().reset_index()[0]
purchase_df["Average Price"] = purchase_df["Average Price"].map("${:,.2f}".format)
purchase_df["Total Purchase Value"] = purchase_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_df["Average Total Per Person"] = purchase_df["Average Total Per Person"].map("${:,.2f}".format)
purchase_df

,Gender,Purchase Count,Average Price,Total Purchase Value,Average Total Per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics

In [9]:
# bins for ages use pd.cut()
no_duplicates = no_duplicates.copy()
bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
no_duplicates["Age Range"] = pd.cut(no_duplicates["Age"], bins, labels=age_labels)

In [10]:
# find the total count and percentage of players for age ranges
all_rows = len(no_duplicates)
count_age_range = no_duplicates.groupby("Age Range")["SN"].count()
new_df = pd.DataFrame(count_age_range)
new_df["%"] = round(new_df["SN"] / all_rows * 100, 2)
new_df["%"] = new_df["%"].map("{:,.2f}%".format)
new_df.columns = ["Total Count", "Percentage of Players"]
new_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

Purchasing Analysis (Age)

In [11]:
# find the purchase count, ave price, total value and ave per person for each age range
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
count_age_range = purchase_data.groupby("Age Range")["Price"].count().rename("Total Count")
sum_age_range = purchase_data.groupby("Age Range")["Price"].sum().rename("Total Purchase Value")
mean_age_range = purchase_data.groupby("Age Range")["Price"].mean().rename("Avg Purchase Value")
new_df["Total Count"]
new_df2 = pd.DataFrame([count_age_range, mean_age_range, sum_age_range, sum_age_range/new_df["Total Count"]])

new_df2 = new_df2.T
new_df2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
new_df2["Purchase Count"] = new_df2["Purchase Count"].astype(int)
new_df2["Average Purchase Price"] = new_df2["Average Purchase Price"].map("${:,.2f}".format)
new_df2["Total Purchase Value"] = new_df2["Total Purchase Value"].map("${:,.2f}".format)
new_df2["Avg Total Purchase per Person"] = new_df2["Avg Total Purchase per Person"].map("${:,.2f}".format)
new_df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

Top Spenders

In [12]:
# find the top spenders for each individual
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
count_age_range = purchase_data.groupby("SN")["Price"].count().rename("Total Count")
sum_age_range = purchase_data.groupby("SN")["Price"].sum().rename("Total Purchase Value")
mean_age_range = purchase_data.groupby("SN")["Price"].mean().rename("Avg Purchase Value")
new_df3 = pd.DataFrame([count_age_range, mean_age_range, sum_age_range])

new_df3 = new_df3.T
new_df3.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
new_df3.sort_values("Total Purchase Value", ascending=False, inplace=True)
new_df3["Purchase Count"] = new_df3["Purchase Count"].astype(int)
new_df3["Average Purchase Price"] = new_df3["Average Purchase Price"].map("${:,.2f}".format)
new_df3["Total Purchase Value"] = new_df3["Total Purchase Value"].map("${:,.2f}".format)
new_df3.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Most Popular Items

In [16]:
# find the item purchased the most
count_age_range = purchase_data.groupby(["Item ID", "Item Name"])["Price"].count().rename("Purchase Count")
sum_age_range = purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum().rename("Total Purchase Value")
mean_age_range = purchase_data.groupby(["Item ID", "Item Name"])["Price"].mean().rename("Item Price")
new_df4 = pd.DataFrame([count_age_range, mean_age_range, sum_age_range])
# sort by purchase count
new_df4 = new_df4.T
new_df4.sort_values("Purchase Count", ascending=False, inplace=True)
new_df4["Purchase Count"] = new_df4["Purchase Count"].astype(int)
new_df4["Item Price"] = new_df4["Item Price"].map("${:,.2f}".format)
new_df4["Total Purchase Value"] = new_df4["Total Purchase Value"].map("${:,.2f}".format)
new_df4.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

Most Profitable Items

In [14]:
# find the item with the highest purchase value
new_df5 = pd.DataFrame([count_age_range, mean_age_range, sum_age_range])
new_df5 = new_df5.T
# sort by total purchase value
new_df5 = new_df5.sort_values("Total Purchase Value", ascending=False)
new_df5["Purchase Count"] = new_df5["Purchase Count"].astype(int)
new_df5["Item Price"] = new_df5["Item Price"].map("${:,.2f}".format)
new_df5["Total Purchase Value"] = new_df5["Total Purchase Value"].map("${:,.2f}".format)
new_df5.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80