In [21]:
# Dependencies and Setup
import pandas as pd

In [22]:
# File to Load (Remember to Change These)
file_to_load = "HeroesofPymoli/purchase_data.csv"

In [23]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [24]:
#overview of data
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [25]:
# display the total number of players
Total_players = len(purchase_data["SN"].unique())
Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

In [33]:
# Purchasing Analysis
# Calculate the number of unique items, ave proce, number of purchase and total revenue
unique_items = len(purchase_data["Item Name"].unique())
ave_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
tot_revenue = purchase_data["Price"].sum()

purchasing_analyis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [ave_price], "Number of Purchases": [num_purchases], "Total Revenue": [tot_revenue]})
purchasing_analyis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [38]:
# formatted_purchasing_analyis_df = purchasing_analyis_df.style.format("{:,.2f}")
# # formatted_purchasing_analyis_df
# purchasing_analyis_df.style.format("{:,.2f}")

In [52]:
# Gender Demographics
gender_df = pd.DataFrame({"Unique players": purchase_data["SN"].unique(),"Gender": purchase_data["Gender"]})
gender_df.head()
# % and count of males, females and other/non-diclosed
# gender = purchase_data["Gender"].count
# gender_unique_count = purchase_data["Gender"].value_counts()
# gender_unique = purchase_data["Gender"].unique()
# print(gender)
# print(gender_unique)
# print(gender_unique_count)

ValueError: array length 576 does not match index length 780