In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
# File to Load (Remember to Change These)
file_to_load = "HeroesofPymoli/purchase_data.csv"

In [4]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#overview of data
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
# display the total number of players
Total_players = len(purchase_data["SN"].unique())
Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

In [7]:
# Purchasing Analysis
# Calculate the number of unique items, ave proce, number of purchase and total revenue
unique_items = len(purchase_data["Item Name"].unique())
ave_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
tot_revenue = purchase_data["Price"].sum()

purchasing_analyis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [ave_price], "Number of Purchases": [num_purchases], "Total Revenue": [tot_revenue]})
purchasing_analyis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [8]:
# formatted_purchasing_analyis_df = purchasing_analyis_df.style.format("{:,.2f}")
# # formatted_purchasing_analyis_df
# purchasing_analyis_df.style.format("{:,.2f}")

In [108]:
# Gender Demographics
# drop duplicates SN
no_duplicates = purchase_data.drop_duplicates(subset=["SN"])
# print(no_duplicates)

# define a funciton
def percentage(numbers):
     return numbers/Total_players*100

# % and count of males, females and other/non-diclosed
gender_unique_count = no_duplicates["Gender"].value_counts()
# print(gender_unique_count)

male_percent = percentage(484)
female_percent = percentage(81)
other_percent = percentage(11)

# print(male_percent)
# print(female_percent)
# print(other_percent)

# new df
gender_df = pd.DataFrame({"": ["Male", "Female", "Other/Non-Disclosed"],
"Total Count": [484, 81, 11],
"Percentage of Players": [male_percent, female_percent, other_percent]})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)
gender_df.set_index("")

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [109]:
# Purchasing Analysis
# find purchase count, ave purchase price, total purchase price, ave total purchase price per person
purchase_count = purchase_data.groupby("Gender")["Purchase ID"].count()
ave_price = purchase_data.groupby("Gender")["Price"].mean()
total_price = purchase_data.groupby("Gender")["Price"].sum()
ave_per_person = purchase_data.groupby("Gender")["Price"].sum()/no_duplicates.groupby("Gender")["SN"].count()

purchase_df = pd.DataFrame({"Gender": ["Female", "Male", "Other/Non-Disclosed"]})

In [110]:
# ave_price.reset_index()["Price"]
# total_price.reset_index()
# ave_per_person = ave_per_person.to_frame()
# ave_per_person.columns = ["Avg"]
ave_per_person
# purchase_count.reset_index()["Purchase ID"]

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [112]:
# add columns of purchase price etc
purchase_df["Purchase Count"] = purchase_count.reset_index()["Purchase ID"]
purchase_df["Average Price"] = ave_price.reset_index()["Price"]
purchase_df["Total Purchase Value"] = total_price.reset_index()["Price"]
purchase_df["Average Total Per Person"] = ave_per_person.to_frame().reset_index()[0]
purchase_df

,Gender,Purchase Count,Average Price,Total Purchase Value,Average Total Per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other/Non-Disclosed,15,3.346000,50.19,4.562727

Age Demographics

In [66]:
no_duplicates.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [67]:
# bins for ages use pd.cut()
bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
no_duplicates["Age Range"] = pd.cut(no_duplicates["Age"], bins, labels=age_labels)
no_duplicates.head()

ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [71]:
no_duplicates.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Range'],
      dtype='object')

In [69]:
all_rows = len(no_duplicates)
count_age_range = no_duplicates.groupby("Age Range")["SN"].count()
new_df = pd.DataFrame(count_age_range)
new_df["%"] = round(new_df["SN"] / all_rows * 100, 2)
new_df["%"] = new_df["%"].map("{:,.2f}%".format)
new_df.columns = ["Total Count", "Percentage of Players"]
new_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [73]:
no_duplicates["Price"].sum()

Purchase ID       int64
SN               object
Age               int64
Gender           object
Item ID           int64
Item Name        object
Price           float64
Age Range      category
dtype: object

In [85]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
count_age_range = purchase_data.groupby("Age Range")["Price"].count().rename("Total Count")
sum_age_range = purchase_data.groupby("Age Range")["Price"].sum().rename("Total Purchase Value")
mean_age_range = purchase_data.groupby("Age Range")["Price"].mean().rename("Avg Purchase Value")
new_df["Total Count"]
new_df2 = pd.DataFrame([count_age_range, sum_age_range, mean_age_range, sum_age_range/new_df["Total Count"]])

new_df2 = new_df2.T
new_df2.columns = ['Total Count', 'Total Purchase Value', 'Avg Purchase Value', 'Avg Total Purchase per Person']
new_df2.head()

,Total Count,Total Purchase Value,Avg Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23.0,77.13,3.353478,4.537059
10-14,28.0,82.78,2.956429,3.762727
15-19,136.0,412.89,3.035956,3.858785
20-24,365.0,1114.06,3.052219,4.318062
25-29,101.0,293.00,2.900990,3.805195

In [91]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
count_age_range = purchase_data.groupby("SN")["Price"].count().rename("Total Count")
sum_age_range = purchase_data.groupby("SN")["Price"].sum().rename("Total Purchase Value")
mean_age_range = purchase_data.groupby("SN")["Price"].mean().rename("Avg Purchase Value")
new_df3 = pd.DataFrame([count_age_range, mean_age_range, sum_age_range])

new_df3 = new_df3.T
new_df3.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
new_df3.sort_values("Total Purchase Value", ascending=False, inplace=True)
new_df3.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93               5.0                3.792000                 18.96
Idastidru52             4.0                3.862500                 15.45
Chamjask73              3.0                4.610000                 13.83
Iral74                  4.0                3.405000                 13.62
Iskadarya95             3.0                4.366667                 13.10

In [94]:
# purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
count_age_range = purchase_data.groupby(["Item ID", "Item Name"])["Price"].count().rename("Purchase Count")
sum_age_range = purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum().rename("Total Purchase Value")
mean_age_range = purchase_data.groupby(["Item ID", "Item Name"])["Price"].mean().rename("Item Price")
new_df4 = pd.DataFrame([count_age_range, mean_age_range, sum_age_range])

new_df4 = new_df4.T
# new_df4.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
new_df4.sort_values("Purchase Count", ascending=False, inplace=True)
new_df4.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13.0,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.230000,50.76
145,Fiery Glass Crusader,9.0,4.580000,41.22
132,Persuasion,9.0,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9.0,3.530000,31.77

In [95]:
new_df5 = new_df4.sort_values("Total Purchase Value", ascending=False)
new_df5.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13.0,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.230000,50.76
82,Nirvana,9.0,4.900000,44.10
145,Fiery Glass Crusader,9.0,4.580000,41.22
103,Singed Scalpel,8.0,4.350000,34.80